findspark
ipython-sql
jaydebeapi
pandas
ibm_db
ibm_db_sa
matplotlib
numpy
psycopg2-binary
minio
pyarrow
pydantic
pymssql
cx_Oracle
python-dateutil
openpyxl
xlsxwriter
xlwt
pyqrcode
pypng
sse-starlette
Pillow
aiofiles
requests
msal
simple_salesforce
